.app {
  background: #f5f5f5;
  color: #222;
  min-height: 100vh;
  padding: 20px;
  transition: 0.3s;
}

.app.dark {
  background: #222;
  color: #f5f5f5;
}

.tache {
  padding: 8px;
  margin: 6px 0;
  border-bottom: 1px solid #ccc;
}

.tache-fait {
  text-decoration: line-through;
  opacity: 0.6;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filtres button {
  margin-right: 8px;
}

button.actif {
  font-weight: bold;
  border-bottom: 2px solid blue;
}

.theme-btn {
  cursor: pointer;
}

form {
  display: flex;
  gap: 10px;
  height: 30px;
  align-items: center;
}
form input[type="text"] {
  flex: 1;
  width: 200px;
  color: white;
  height: 25px !important;
  padding-left: 5px;
}

form input:focus {
  outline: none;
}

form input[type="submit"] {
  cursor: pointer;
  height: 30px !important;
  background-color: blue;
  border: none;
  border-radius: 5px;
}
